<!-- Validation failure messages -->
<% if @guardian.errors.any? %>
<% @guardian.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<% if @guardian.family.provider_id == current_provider.id %>
<div class="page-header">
  <h3>Edit <%= @guardian.first_name %> <%= @guardian.last_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_guardian/<%= @guardian.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @guardian.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @guardian.last_name %>">
      </div>

      <!-- Label and input for family_id -->
      <div class="form-group">
        <label for="family_id" class="control-label">
          Family Name
        </label>

        <div class="form-group">
          <%= select_tag("family_id", options_from_collection_for_select(Family.all, :id, :name, @guardian.family_id), :class => "form-control") %>
        </div>
      </div>

      <button class="btn btn-warning">
        Update Guardian
      </button>
      or
      <a href="/guardians/<%= @guardian.id %>">Cancel</a>
    </form>
  </div>
</div>

<% else %>
<h3>You can only view families who use your daycare. </h3>
<% end %>
