<% if @guardian.family.provider_id == current_provider.id %>

<div class="page-header">
  <h3>Guardian #<%= @guardian.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @guardian.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @guardian.last_name %></dd>

      <dt>Family</dt>
      <dd><%= @guardian.family_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guardians" class="btn btn-primary">
        Back
      </a>
      <a href="/guardians/<%= @guardian.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guardian/<%= @guardian.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<% else %>
  <h3>You can only view families who use your daycare. </h3>
<% end %>
