<% if @family.provider_id == current_provider.id %>

<div class="page-header">
  <h3><%= @family.name %> Family </h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <div>
      <h6>Children</h6>
      <ul>
        <% @family.children.each do |child| %>
        <li>
          <a href="/children/<%= child.id %>"> <%= child.first_name %> <%= child.last_name %> </a> </li>
          <% end %>
        </ul>
      </div>

      <div>
        <h6>Guardians</h6>
        <ul>
          <% @family.guardians.each do |guardian| %>
          <li>
            <a href="/guardians/<%= guardian.id %>"> <%= guardian.first_name %> <%= guardian.last_name %> </a> </li>
            <% end %>
          </ul>
        </div>


        <div class="btn-group btn-group-justified">
          <a href="/families" class="btn btn-primary">
            Back
          </a>
          <a href="/families/<%= @family.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_family/<%= @family.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </div>
      </div>
    </div>


    <h6>Add a child</h6>

    <!-- Validation failure messages -->
    <% if @child.errors.any? %>
    <% @child.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
    <% end %>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <form action="/create_child" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for first_name -->
          <div class="form-group">
            <label for="first_name" class="control-label">
              First name
            </label>

            <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @child.first_name %>">
          </div>

          <!-- Label and input for last_name -->
          <div class="form-group">
            <label for="last_name" class="control-label">
              Last name
            </label>

            <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @child.last_name %>">
          </div>

          <!-- Label and input for family  -->
          <div class="form-group">

            <input type="hidden" id="family_id" name="family_id" class="form-control" value="<%= @family.id %>">
          </div>

          <!-- Label and input for provider_id -->
          <div class="form-group">

            <input type="hidden" id="provider_id" name="provider_id" class="form-control" value="<%= current_provider.id %>">
          </div>



          <button class="btn btn-success">
            Create Child
          </button>
          or
          <a href="/children">Cancel</a>
        </form>
      </div>
    </div>

    <div>
      <h6>Add a new guardian</h6>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form action="/create_guardian" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for first_name -->
          <div class="form-group">
            <label for="first_name" class="control-label">
              First name
            </label>

            <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @guardian.first_name %>">
          </div>

          <!-- Label and input for last_name -->
          <div class="form-group">
            <label for="last_name" class="control-label">
              Last name
            </label>

            <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @guardian.last_name %>">
          </div>

          <!-- Label and input for family_id -->
          <div class="form-group">
            <input type="hidden" id="family_id" name="family_id" class="form-control" value="<%= @family.id %>">
          </div>

          <button class="btn btn-success">
            Create Guardian
          </button>
          or
          <a href="/guardians">Cancel</a>
        </form>
      </div>
    </div>

    <h6>Add provider id to all new guardian forms</h6>

    <% else %>
    <h3>You can only view families who use your daycare. </h3>
    <% end %>
